<template name='list'> {{setCurrPage}}

<!-- DISMISSABLE COLLECTION (CHECK/DISMISS TASK) -->
{{#if isPrimaryAction "ion-android-done"}} {{> dismissableRenderedHook}}
<ul class="collection dismissableCollection">
  {{#each task}}
    <li class="collection-item dismissable">
      <div id='{{_id}}'>{{name}}</div>
    </li>
  {{/each}}
</ul>


<!-- SORTABLE COLLECTION DISPLAY (REARRANGE ORDER) -->
{{else}} {{#if isPrimaryAction "ion-arrow-move"}} {{> sortableRenderedHook}}
<ul class="collection sortable selector">
{{#each task}}
  <li class='collection-item' data-id='{{_id}}' id='sort_{{order}}'>{{name}}</li>
{{/each}}
</ul>  


<!-- REGULAR COLLECTION DISPLAY -->
{{else}}
  <ul class="collection">
    {{#each task}}
      <li class="collection-item waves-effect fullWidth" id="{{_id}}">{{name}} </li>
    {{/each}}
  </ul> 
  
  {{/if}}
{{/if}}


{{> fabForList}}

</template>