<template name='list'> {{setCurrPage}}

<!-- DISMISSABLE COLLECTION (CHECK/DISMISS TASK) -->
{{#if isPrimaryAction "ion-android-done"}} {{> dismissableRenderedHook}}
<ul class="collection dismissableCollection">
  {{#each task}}
    <li class="collection-item dismissable listItem">
      <section class="dot"></section>
      <div id='{{_id}}'>{{name}}</div>
    </li>
  {{/each}}
</ul>


<!-- SORTABLE COLLECTION DISPLAY (REARRANGE ORDER) -->
{{else}} {{#if isPrimaryAction "ion-arrow-move"}} {{> sortableRenderedHook}}
<ul class="collection sortable selector">
{{#each task}}
  <li class='collection-item listItem' data-id='{{_id}}' id='sort_{{order}}'>
    <section class="dot"></section>
    {{name}}
  </li>
{{/each}}
</ul>  


<!-- REGULAR COLLECTION DISPLAY -->
{{else}}
  <ul class="collection">
    {{#each task}}
      <li class="listItem waves-effect fullWidth avatar" id="{{_id}}">
      <section class="dot"></section> 
      {{name}} 
      </li>
    {{/each}}
  </ul> 
  
  {{/if}}
{{/if}}


{{> fabForList}}

</template>