<template name='test'>
<br><br><br>	
<section class="testIcon valign-wrapper">
	<h1 class="text-center white-text testIconText valign">t</h1>
</section>
<br>

<main class='center-align'>
	<h1 class="grey-text text-darken-3 margin5px">todoy</h1>
	<p class='grey-text'>Makes complex planning simple</p>
</main>

<a href='testTutorial1' class='tutorialStart absoluteBottom fullWidth flexCenter'>
	<button class="beginButton white-text btn-large waves-effect fullWidth">
		<h5>BEGIN</h5>
	</button>
</a>		

<br>

<section class='testIconContainer'>
	<div class="btn-floating btn-large margin5px red"><i class="ion-document-text"></i></div>
	<div class="btn-floating btn-large margin5px blue"><i class="ion-plus"></i></div>
	<div class="btn-floating btn-large margin5px green"><i class="ion-arrow-move"></i></div>
	<div class="btn-floating btn-large margin5px yellow"><i class="ion-edit"></i></div>
</section>

</template>